
[class*="block_"] {
    min-height: 70px;
    background-color: #4e555b;
    padding: 15px;
    margin-bottom: 30px;
}

.block_1_footer {
    min-height: 170px;
}

.block_2_footer {
    min-height: 170px;
}

.header {
    margin-top: 15px;
}

.block_content_2 {
    min-height: 100px;
}

.block_content_4 {
    min-height: 170px;
}

.block_content_1, .block_content_2, .block_content_4 {
    background-color: #9fcdff;
}

.block_content_1 {
    min-height: 170px;
}

.block_1, .block_2, .block_3 {
    background-color: #0f6674;
}

.block_1_footer, .block_2_footer, .block_3_footer, .block_right {
    background-color: #6f42c1;
}

.block_menu_1, .block_menu_2 {
    background-color: #856404;
}

.block_menu_1 {
    min-height: 270px;
}

.block_menu_2 {
    min-height: 140px;
}

.menuu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}







